{% if data %}
{% for product in data %}
<div class="col-lg-4 col-md-6 col-sm-12 pb-1">
    <div class="card product-item border p-2 mb-4">
        <div class="product-img position-relative g-transparent p-0"
            style="height: 200px;width: 100%;overflow: hidden !important;">
            <img class="img-fluid w-100" style="width: 100% !important;height: 100% !important;object-fit: cover;"
                src="{{product.product_images.url}}" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4">
            <h5 class="text-truncate mb-3">{{product.pd_name}}</h5>
            <div class="text-danger ">
                <h6>BDT {{product.price}}</h6>
                <p style="line-height: 10px;" class="text-muted ml-2">&nbsp;<del>BDT
                        {{product.dis_price}}</del>
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-between bg-light">
            <button style="height: 40px;" class="btn btn-danger w-50 m-1 btn-sm text-white">Buy
                Now</button>
            <button class="btn btn-dark btn-sm w-50 m-1 text-white">Add To Cart</button>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p class="text-center text-danger"><b>Product not Available</b></p>
{% endif %}